.hotel-container {
    background: #e8dada;
}
.hotel-container .menu-bar {
    background: plum;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hotel-container .menu-bar .tagline {
    font-size: 27px;
    padding-left: 1%;
    text-transform: uppercase;
}
.hotel-container .menu-bar .filters {
    padding: 1%;
}
.hotel-container .menu-bar .filters app-search-bar {
    margin-right: 35px;
}
.hotel-container .hotel-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 1%;
    box-sizing: border-box;
}
.hotel-container .hotel-cards .hotel {
    display: flex;
    flex-basis: 25%;
    box-sizing: border-box;
    overflow: hidden;
}
.hotel-container .empty-search {
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h3 {
    margin: 0 !important;
}
::ng-deep .swal2-title {
    font-size: 30px !important;
    font-weight: 600 !important;
}
@media only screen and (max-width: 600px) {
    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
   }
    .menu-bar .tagline {
        font-size: 20px !important;
   }
    .menu-bar .filters {
        display: flex;
   }
    .hotel-cards {
        flex-direction: column;
   }
}
