<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/admin/restaurant-requests" aria-current="page" href="#">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/restaurant-list" href="#">Restaurants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/user-list" href="#">Users</a>
    </li>
  </ul> 


<div class="menus-container">
    <h3 class="menu-header">Restaurant Requests</h3>
    <mat-card class="menu" *ngFor="let request of hotelRequests">
        <mat-card-header>
            <mat-card-title>{{request.name}} ({{request.restaurantid}})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <ul><li>Address: {{request.address}}</li>
        <li> cuisines: {{request.cuisines}}</li>
        <li>isVerified:{{request.isVerified}}</li></ul>
        
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="order" *ngIf="!request.isVerified" (click)="addToMainRestaurants(request)">
               Verify
            </button>
            <button mat-raised-button class="order" *ngIf="request.isVerified" (click)="removeFromMainRestaurants(request)">
              Reject
           </button>
            
        </mat-card-actions>
    </mat-card>
</div>
