<app-nav-bar [userName]="Admin"></app-nav-bar>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " routerLink="/admin/restaurant-requests" href="#">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/admin/restaurant-list"  aria-current="page" href="#">Restaurants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/user-list" href="#">Users</a>
    </li>
  </ul> 


<div class="menus-container">
    <h3 class="menu-header">Restaurant List</h3>
    <mat-card class="menu" *ngFor="let hotel of hotels">
        <mat-card-header>
            <mat-card-title>{{hotel.name}} ({{hotel.restaurantid}})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul><li>Address: {{hotel.address}}</li>
            <li> cuisines: {{hotel.cuisines}}</li>
            <li>reviews:{{hotel.reviews}}</li></ul>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="order">
               Edit
            </button>
        </mat-card-actions>
    </mat-card>
</div>
